<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>日付</th>
          <th>出勤</th>
          <th>退勤</th>
          <th>勤務時間</th>
          <th>承認</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="record : ${recordDtos}" class="align-middle">
          <td th:text="${#temporals.format(record.recordDate, 'M月d日')}"></td>
          <td th:text="${#temporals.format(record.recordDateTimeByStart, 'HH:mm')}"></td>
          <td th:text="${#temporals.format(record.recordDateTimeByEnd, 'HH:mm')}"></td>
          <td th:text="${record.displayWorkingHours}"></td>
          <td th:text="${record.displayStampApproval}"></td>
        </tr>
      </tbody>
    </table>
    <div>
        <a href="/">戻る</a>
    </div>
</body>
</html>