<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <form method="POST" action="#" th:action="@{/login}">
        <div>
            <p>社員コード</p>
            <p><input type="text" name="employeeCode" th:value="*{employeeCode}" /></p>
        </div>
        <div>
            <p>パスワード</p>
            <p><input type="password" name="password" /></p>
        </div>
        <div th:if="${param.error}">
    		ログインに失敗しました
    		<div th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null}">
        		<span th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}"></span>
    		</div>
		</div>
        <div>
            <button type="submit">ログイン</button>
        </div>
    </form>
</body>
</html>