<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
	<script type="text/javascript" th:src="@{../js/index.js}"></script>
</head>
<body>
    <div>
		社員コード: <span th:text="${employeeCode}" id="employeeCode"></span>
    </div>
    <div>
		社員名: <span th:text="${employeeName}"></span>
	</div>
    <div>
    	<th:block th:if="${recordedTime == null}">
	    	<p id="time"></p>
	  	</th:block>
    	<th:block th:if="${recordedTime != null}">
	    	<p th:text="${recordedTime}"></p>
	  	</th:block>
    </div>
    <div>
    	<th:block th:if="${errorMsg != null}">
	    	<p th:text="${errorMsg}"></p>
	  	</th:block>
    </div>
	<form method="POST" action="#" th:action="@{/goToWork}">
	    <div>
		    <th:block th:if="${isRecordedByStart == true}">
		    	<p>出勤</p>
	    	</th:block>
		    <th:block th:if="${isRecordedByStart == false}">
		    	<button type="submit">出勤</button>
	    	</th:block>
	    </div>
    </form>
   	<form method="POST" action="#" th:action="@{/leaveWork}">
	   	<div>
		    <th:block th:if="${isRecordedByEnd == true}">
		    	<p>退勤</p>
	    	</th:block>
		    <th:block th:if="${isRecordedByEnd == false}">
		    	<button type="submit">退勤</button>
	    	</th:block>
    	</div>
	</form>
    <div>
    　</div>
    <div>
    　</div>
    <div>
    　</div>
    <div sec:authorize="hasAuthority('ADMIN')">
        管理者のみ見えるdivブロックです。
    </div>
    <div sec:authorize="hasAuthority('USER')">
        ユーザーのみ見えるdivブロックです。
    </div>
    <div>
        <a href="/attendanceRecord">勤怠表</a>
    </div>
</body>
</html>